* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;

  &[data-theme="dark"] {
    background-color: #000;
    color: white;

    .switch-color {
      border-color: white;

      .dot {
        background: white;
        transform: translateX(50px);
      }
    }

    .github {
      border-color: white;
      color: white;
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      a {
        color: white;
      }
      img {
        filter: invert(1);
      }
    }

    .panel {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .lorem {
      background: rgba(255, 255, 255, 0.2);
      color: white;
    }
  }

  &[data-theme="light"] {
    background-color: #fff;
    color: black;

    .switch-color {
      border-color: black;

      .dot {
        background: black;
        transform: translateX(0);
      }
    }

    .github {
      border-color: black;
      color: black;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      a {
        color: black;
      }
      img {
        filter: invert(0);
      }
    }

    .panel {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .lorem {
      background: rgba(0, 0, 0, 0.1);
      color: black;
    }
  }
}

header {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 10px;
  margin-right: 20px;

  .switch-color {
    border: 2px solid;
    width: 90px;
    height: 40px;
    background: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;

    .dot {
      width: 30px;
      height: 30px;
      background: rgb(85, 85, 85);
      border-radius: 15px;
      transition: transform 0.3s ease;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 4.2rem;
    font-style: italic;
  }

  .panel {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    align-items: center;
    margin-bottom: 20px;

    .name {
      &::after {
        padding-left: 20px;
        content: "pawlowskimichal.pl";
      }
      &::before {
        padding-right: 20px;
        content: "pawlowskimichal.pl";
      }
    }

    a {
      margin: 0 10px;
      animation: moveText 3s linear infinite;
    }
  }

  .lorem {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: 90%;
    border-radius: 20px;
    max-width: 450px;
    font-size: 20px;
  }

  .github {
    background: none;
    border: 2px solid;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    img {
      filter: invert(1);
      margin-right: 10px;
    }
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 5px;
  }
}
footer {
  p {
    margin: 10px;
  }
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
